IbanValidator/WebContent/wsdl/Web.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://web" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://web" xmlns:intf="http://web" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://web" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="validator">
    <complexType>
     <sequence>
      <element name="iban" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="validatorResponse">
    <complexType>
     <sequence>
      <element name="validatorReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="validatorRequest">

      <wsdl:part element="impl:validator" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validatorResponse">

      <wsdl:part element="impl:validatorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Web">

      <wsdl:operation name="validator">

         <wsdl:input message="impl:validatorRequest" name="validatorRequest">

       </wsdl:input>

         <wsdl:output message="impl:validatorResponse" name="validatorResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WebSoapBinding" type="impl:Web">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="validator">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validatorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validatorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WebService">

      <wsdl:port binding="impl:WebSoapBinding" name="Web">

         <wsdlsoap:address location="http://localhost:8080/IbanValidator/services/Web"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
